.m-1{
    margin: 5px 10px;
}

.p-1{
    padding: 5px 0px;
}
.position{
    position: relative;
    top: 5px;
    left:10px;
}
.bg-grey{
    background-color: #111111;
}

.border-radius{
    border-radius: 8px;
}

.invert{
    filter: invert();
}
.flex{
    display: flex;
    align-items: center;
}

.bold{
    font-weight: bold;
}